language: "go"
go:
  - "1.9"
  - "1.10"
  - "1.11"
  - "1.12"
git:
  depth: 1
before_script:
  - go get -v ./...
script:
  - go test -v -race ./...
notifications:
  email:
    on_success: "change"
    on_failure: "always"
