name: test
on:
  - push
  - pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    name: tests with go1.15
    steps:
      - uses: actions/checkout@v2
      - name: Run golangci-lint
        uses: actions-contrib/golangci-lint@v1
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
      - name: run unit test
        run: go test -race -coverprofile=coverage.txt -covermode=atomic
      - name: Upload Coverage report to CodeCov
        uses: codecov/codecov-action@v1.0.0
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.txt
